%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Pills: A Pocket Guide
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/homepage"} Home
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Type of User
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Patient
            %li
              %a{:href => "#"} Doctor
            %li
              %a{:href => "#"} Manufacturer

%body
  %div
    %div{:class=>'header_transbox'}
      %h1.title A Pocket Drug Index

= form_tag drugs_path, :id => "drugs_form", :method => :get do 
  %div.row
    - @drugs.each do |drug|
      %div.col-lg-3.col-md-4.col-sm-5
        %div.fact_card
          %a{:href => drug_path(drug.id), :id => "More Information about #{drug.title}"}
            %center
              Fact Card for #{drug.title}
          %center
            Compare
            = check_box_tag "compares[#{drug.id}]",1, @selected_drugs == nil ? nil : @selected_drugs.include?(drug), :id => "compare_#{drug.title}"
  %center
    = submit_tag 'Compare Selected Drugs', :id => "drugs_submit", :class => "btn btn-primary", :disabled => @disable_compare
    %a.btn.btn-primary{:style => 'margin-left: 10px', :method => :get, :id => "Add new drug", :href => new_drug_path} Add new drug

- if @exist == true
  %td
    %p.fact_card{:style => "background: red;"} "Error: Drug exist

  %a.btn.btn-primary{:href => "/"} Back to Homepage
