%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Pills: A Pocket Guide
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/homepage"} Home
        %li
          %a{:href => "/drugs"} Drug Index
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Type of User
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Patient
            %li
              %a{:href => "#"} Doctor
            %li
              %a{:href => "#"} Manufacturer

%body
  %div
    %div{:class=>'header_transbox'}
      %h1.title= @drug.title

%center
  %div
    %table.table.table_fact_card{:style => "width: 75%"}
      %tr
        %td.col-xs-2 Category
        %td.col-xs-10#directions= @drug.category
      %tr
        %td.col-xs-2 Directions
        %td.col-xs-10#directions= @drug.directions
      %tr
        %td.col-xs-2 Uses
        %td.col-xs-10#uses= @drug.uses
      %tr.danger
        %td.col-xs-2 Warnings
        %td.col-xs-10#warnings= @drug.warnings
      %tr
        %td.col-xs-2 Active Ingredient
        %td.col-xs-10#active_ingredient= @drug.active_ingredient
      %tr
        %td.col-xs-2 Inactive Ingredient
        %td.col-xs-10#inactive_ingredients= @drug.inactive_ingredients
      %tr
        %td.col-xs-2 Other Information
        %td.col-xs-10#other_information= @drug.other_information

%center
  %a.btn.btn-primary{:href => edit_drug_path(@drug), :id =>'Edit'} Edit
  = link_to 'Delete', drug_path(@drug), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
  %a.btn.btn-primary{:href => drugs_path} Back to drug list

